table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  height: 100%;
}
table caption {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding: 10px;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
font-family: "Roboto Slab",serif;
font-style: normal;
font-size: 26px;
text-align: center;
margin: 0;
height: 70px;

}
table tr:nth-child(2n) {
  background: #F6F6F6;
  border: 1px solid #ddd;
  padding: .35em;
}

tr{

  cursor: pointer;
}

table td{
  height: 60px;
  padding: .625em;
  text-align: center;
  font-size: .99em;
}

table th {
  z-index: 10;
  position: sticky;
  top: 0;
  padding: .625em;
  text-align: center;
  height: 80px;
  font-size: .99em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background: #89D6DF;
}


.tablemy{
  width: 48%;
  height: 45px;
  border-radius: 35px 0px 0px 35px;
-moz-border-radius: 35px 0px 0px 35px;
-webkit-border-radius: 35px 0px 0px 35px;
outline: none;
}

.tableuse{
  width: 48%;
  height: 45px;
  border-radius: 0px 35px 35px 0px;
-moz-border-radius: 0px 35px 35px 0px;
-webkit-border-radius: 0px 35px 35px 0px;
outline: none;
}

.btntables{
  text-align: center;
}



table tr:hover {
    background: #66CDAA; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}
@media screen and (max-width: 600px) {
 
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    display: none;
  }
  table tr {
    display: block;
    background-color: #EDEDED;
  }
  table td {
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}